<div class="articles">
  {% for post in site.posts limit:5 %}
  <article class="article-recent">
    <article class="article-recent-main">
      <h2>{{ post.title }}</h2>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}" class="readMore"> Continue Reading</a>
    </article>

    <article class="article-recent-secondary">
      <img src="{{ post.image }}" alt="an image for a post">
      <p class="article-info date">{{ post.date | date: '%B %d, %Y'}}</p>
    </article>
  </article>
  {% endfor %}
</div>
