/* Colors
DarkBlue: #7BACB3
Greenish: #83C3CC
light pink: #FFBDDF
Light Yellow #FFF5A9
darkPink: #B37293
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
*/
html{
  height: 100%;
}

body{

  color: #565554;
  background-color: #edf2f2;
  margin: 0;
}

/* ===========
Typography
============= */

.lightRed{
  color: #f4a261;
}
.lightBlue{
  color: #2a9d8f;
}

.sideBar{
  padding: 2rem 2rem 2rem 2rem;
  font-family: 'Lustria', serif;
  font-size: 1.6em;
  text-align: right;
}
.content{
  padding: 5rem;
  font-family: 'Poppins', sans-serif;
}


/* ===========
Layout
========== */

body{
  width: 100%;
  height: 100%;
}

.siteContainer{
  height: 100%;
  display: flex;
  align-items: stretch;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.sideBar{
  position: relative;
  box-sizing: border-box;
  flex: 0 0 300px;
  background-color: #565554;
  color: #edf2f2;

}

.mainContainer{
  flex: 1 1 0;
}
.hero img{
  width: 100%;
}
